@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Change the values in here to match your branding */
:root {
  /* Background color of the page */
  --background-color: white;

  /* Color of the text/words */
  --text-color: black;

  /* Main color of your brand */
  --color-primary: #f213a4;

  /* Secondary color of your brand */
  --color-secondary: #418dff;

  /* Which font you want to use */
  --font: "Poppins", sans-serif;

  /* Color of the border around items */
  --border-color: black;
}

/* --- Don't need to modify below here --- */

/* Default design values of the entire document */

html {
  font-size: 14px;
}

h1 {
  font-size: 3rem;
  padding-bottom: 20px;
}

h2 {
  font-size: 2.5rem;
  padding-bottom: 20px;
}

h3 {
  font-size: 2rem;
  padding-bottom: 10px;
}
